<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature Converter</title>
</head>
<body>
  <h1>Temperature Converter</h1>
    <form action="/CtoF" method="post">
        <input type="number" name="celsius" placeholder="Celsius">
        <input type="submit" value="Convert to Fahrenheit">
    </form>
      <form action="/FtoC" method="post">
          <input type="number" name="fahrenheit" placeholder="Fahrenheit">
          <input type="submit" value="Convert to Celsius">
      </form>
</body>
</html>